@import url(https://fonts.https://fonts.googleapis.com/css?family=Tangerine|Inconsolata|Droid+Sans.com/css?family=);
*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 130vh;
    width: 100%;
    background:transparent;
    background: url(https://c4.wallpaperflare.com/wallpaper/764/431/702/river-trees-forest-clouds-wallpaper-preview.jpg)no-repeat; background-position: center; 
    background-size: cover;
} 

.form-box{
    position:relative;
    width:400px;
    height:450px;
    background-color:bisque;
    display:flex;
    justify-content:center;
    background:transparent;
    border:2px solid rgba(255,255,255,.5);
    border-radius:20px;
    backdrop-filter: blur(15px);

}

h2{
    
    font-size: 2em;
    color: white;
    text-align: center;
    top:200px;
   
}

.input-box{
    position: relative;
    margin: 30px 0;
    width: 310px;
    border-bottom:2px solid white;

}

.input-box label{
    position: absolute;
    top:50%;
    left:5px;
    transform: translateY(-50%);
    color:blueviolet;
    font-size: 1em;
    pointer-events: none;
    transition: .5s;

}

.input-box input{
    width: 100%;
    height: 50px;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding: 0 35px 0 5px;
    color: white;
}

input:focus ~ label,input:valid~label{
    top: -5px;
}

.input-box ion-icon{
    position: absolute;
    right: 8px;
    color: blueviolet;
    font-size: 1.2em;
    top: 20px;
   }

   .forget{
    margin: -15px 0 15px;
    font-size: .9em;
    color: blueviolet;   
    display: flex;
    justify-content: center;

}

.forget label input{
    margin-right: 30px;
}

.forget label a{
    color: white;
    text-decoration: none;


}

.forget label a:hover{
    text-decoration: underline;

}

.register{
font-size: .9em;
color: white;
margin:20px 10px 40px -110px;
text-align: center;
left: 10px;
}

.register p a{
    text-decoration: none;
    color: white;
    font-weight: 600;
    margin:0 40px 2px;

}

.register p a:hover{

    text-decoration: underline;
}

.magex.clicked{
    background-color: red;
    border-radius: 10px;

}

.magex{
    background-color:blue;
    color:white;
    padding:10px 20px;
    border-radius:5px;
    border: none;
    cursor:pointer;
    margin:1%;
}

 .span{
    position:absolute;
    left:43px;
    margin:1px;
} 

 a{
    position:absolute;
    right:43px;
    text-decoration: none;
} 

#input-box{
    background-color:blue;
    color:white;
    padding:1px 37px;
    border-radius:5px;
    border: none;
    cursor:pointer;
    width:50px;
    right: 60px;
    text-align: center;
}

#magex{
    border-bottom:2px solid white;
}

.gotp{
    background-color: transparent;
    border-bottom:2px solid white;
    padding: 8px;
    top: 10px;
    margin-top: 9px;
    border-radius: 5px;
    color: white;
}